{% extends "layout.html" %}

{% block main %}

    <div>
        <canvas class="game" id="snake" width="400" height="400""></canvas>
    </div>

    <div>
        <p3>{{ player1 }}</p3>
        <br>
        <p6 id="result1"></p6>
        <br>
        <br>
        <p8 id="result2"></p8>
    </div>

    <script>

        document.getElementById("result1").innerHTML = "";
        document.getElementById("result2").innerHTML = "PRESS ENTER TO START";

        const http = new XMLHttpRequest();
        const url = "https://miniature-space-guacamole-4jjxpgx4jqrrfqpwv-5000.app.github.dev/gameclassic";

        function game(){

            document.getElementById("result1").innerHTML = "";
            document.getElementById("result2").innerHTML = "";

            const canvas = document.getElementById("snake");
            const ctx = canvas.getContext("2d");

            ctx.clearRect(0, 0, 400, 400);

            let grid = 20;

            let snake1 = [167, 168, 169];

            let random = 0;

            let d1 = 1;

            let score1 = 3;

            ctx.fillStyle = "#ff0000";

            for(let i = 0; i < snake1.length; i++){
                x = (Math.floor(snake1[i] % 20)) * grid;
                y = (Math.floor(snake1[i] / 20)) * grid;
                ctx.fillRect(x +1, y + 1, grid - 1, grid - 1);
                ctx.stroke();
            };

            document.addEventListener('keydown', function(event) {
                if(event.keyCode == 37){
                    if(d1 != 1){
                        d1 = -1;
                    }
                }
                else if(event.keyCode == 38){
                    if(d1 != 20){
                        d1 = -20;
                    }
                }
                else if(event.keyCode == 39){
                    if(d1 != -1){
                        d1 = 1;
                    }
                }
                else if(event.keyCode == 40){
                    if(d1 != -20){
                        d1 = 20;
                    }
                }
            });

            function food(){

                ctx.fillStyle = "#000";

                random = Math.floor(Math.random() * 400);

                if(snake1.includes(random)){
                    food();
                }

                x = (Math.floor(random % 20)) * grid;
                y = (Math.floor(random / 20)) * grid;
                ctx.fillRect(x + 1, y + 1, grid - 1, grid - 1);
                ctx.stroke();
            };

            food();

            const interval = setInterval(play, 100);

            function play(){

                if(snake1.length != 0){

                    ctx.fillStyle = "#fff";

                    x = (Math.floor(snake1[0] % 20)) * grid;
                    y = (Math.floor(snake1[0] / 20)) * grid;
                    ctx.fillRect(x + 1, y + 1, grid - 1, grid - 1);
                    ctx.stroke();
                }

                if(snake1.length != 0){

                    ctx.fillStyle = "#ff0000";

                    snake1.shift();

                    if(snake1.includes(snake1[snake1.length - 1] + d1)){
                        snake1 = [];
                    }
                    else{
                        snake1.push(snake1[snake1.length - 1] + d1);
                    }
                }

                if(snake1.length != 0){

                    if(snake1[snake1.length - 1] == random){
                        score1++;
                        snake1.push(snake1[snake1.length - 1] + d1);
                        food();
                    }
                }

                if(snake1.length != 0){
                    if((d1 == 1 && Math.floor(snake1[snake1.length - 1] % 20) == 0) || (d1 == -1 && Math.floor(snake1[snake1.length - 1] % 20) == 19) || snake1[snake1.length - 1] < 0 || snake1[snake1.length - 1] >= 400){
                        snake1 = [];
                    }
                }

                if(snake1.length != 0){
                    ctx.fillStyle = "#ff0000";

                    if((d1 == 1 && Math.floor(snake1[snake1.length - 1] % 20) != 0) || (d1 == -1 && Math.floor(snake1[snake1.length - 1] % 20) != 19) || (d1 == -20 && snake1[snake1.length - 1] >= 0) || ( d1 == 20 && snake1[snake1.length - 1] < 400)){
                        for(let i = 0; i < snake1.length; i++){
                            x = (Math.floor(snake1[i] % 20)) * grid;
                            y = (Math.floor(snake1[i] / 20)) * grid;
                            ctx.fillRect(x + 1, y + 1, grid - 1, grid - 1);
                            ctx.stroke();
                        }
                    }
                }

                if(snake1.length == 0){
                    clearInterval(interval);
                    document.getElementById("result1").innerHTML = "SCORE:&nbsp;" + score1;
                    document.getElementById("result2").innerHTML = "PRESS ENTER TO TRY AGAIN";

                    http.open("POST", url);
                    http.send(score1);
                }
            };
        };


        document.addEventListener('keydown', function(event) {
            if(event.keyCode == 13){
                game();
            }
        });


    </script>

{% endblock %}
