{% extends "layout.html" %}

{% block main %}

    <div class=".dropdown" style="margin-top: 200px">
        <button onclick="dropdown()" type="button" class="button">SELECT GAME</button>
        <div id="list" class="dropdown-content">
            <a href="/classic">Classical</a>
            <a href="/multi">Multiplayer</a>
        </div>
    </div>

    <script>

        function dropdown(){
            document.getElementById("list").classList.toggle("show");
        }

        window.onclick = function(event) {
            if (!event.target.matches(".button")) {
                let dropdowns = document.getElementsByClassName("dropdown-content");
                for (let i = 0; i < dropdowns.length; i++) {
                    let openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains("show")) {
                            openDropdown.classList.remove('show');
                        }
                }
            }
        }

    </script>

    <div class="row">

        <div class="column">

            <div style="margin-top: 50px">
                <p3>CLASSICAL</p3>
                <br>
                <p3>TOP 3</p3>
                <table style="margin-top: 20px">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Username</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% set rank = namespace(value=1) %}
                        {% for highscore in highscores %}
                            <tr>
                                <td>{{ rank.value }}</td>
                                <td>{{ highscore.username }}</td>
                                <td>{{ highscore.score }}</td>
                            </tr>
                            {% set rank.value = rank.value + 1 %}
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

        <div class="column">

            <div style="margin-top: 50px">
                <p4>MULTIPLAYER</p4>
                <br>
                <p4>TOP 3</p4>
                <table style="margin-top: 20px">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Username</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% set rank = namespace(value=1) %}
                        {% for multihighscore in multihighscores %}
                            <tr>
                                <td>{{ rank.value }}</td>
                                <td>{{ multihighscore.username }}</td>
                                <td>{{ multihighscore.score }}</td>
                            </tr>
                            {% set rank.value = rank.value + 1 %}
                        {% endfor %}

                    </tbody>
                </table>
            <div>

        </div>

    </div>

{% endblock %}
