header
{
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 120px;
}

body{
    background-color: #cccccc !important;
}

div{
    text-align: center;
}

a{
    text-decoration: none;
}

h1
{
    font-family: Copperplate;
    font-size: 50px;
    color: #fff;
}

p3
{
    font-family: Copperplate;
    font-size: 30px;
    color: #ff0000;
}

p4
{
    font-family: Copperplate;
    font-size: 30px;
    color: #0000ff;
}

p5
{
    font-family: Copperplate;
    font-size: 30px;
    color: #000;
}

p6
{
    font-family: Copperplate;
    font-size: 20px;
    color: #ff0000;
}

p7
{
    font-family: Copperplate;
    font-size: 20px;
    color: #0000ff;
}

p8
{
    font-family: Copperplate;
    font-size: 20px;
    color: #000;
}

body
{
    background-color: #fff;
}

.dropdown
{
    position: absolute;
    display: inline-block;
    text-align: center;
}

.dropdown-content
{
    display: none;
    position: absolute;
    background-color: #fff;
    width: 150px;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-content a{
    color: #000;
    padding: 10px;
    font-family: Copperplate;
    font-size: 20px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover{
    color: #ff0000;
}

.show
{
    display:block;
}

button
{
    width: 150px;
    background-color: #000;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    font-family: Copperplate;
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
}

.button1
{
    width: 150px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    font-family: Copperplate;
    font-size: 20px;
    color: #000;
    margin-top: 20px;
}

.button
{
    transition-duration: 0.5s;
}

.button:hover
{
    background-color: #505050;
    cursor: pointer;
}

.column
{
    flex: 50%;
}

.row
{
    display: flex;
}

table
{
    width: 40%;
    border: 5px solid #000;
    margin-left: auto;
    margin-right: auto;
}

td, th
{
    border: 1px solid #000;
    font-family: Copperplate;
    font-size: 20px;
    text-align: center;
}

.form
{
    margin-top: 250px
}

input
{
    width: 200px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

input[type=text]
{
    font-family: Copperplate;
    font-size: 20px;
    text-align: center;
    color: #fff;
}

input:focus
{
    outline:none;
}

.input1
{
    background-color: #ff0000;
}

.input2
{
    background-color: #0000ff;
}

::placeholder
{
    color: #fff;
}

.game
{
    border: 5px solid #000;
    margin-top: 150px;
    background-color: #fff;
}




